################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MicrogrooveSeleniumAssignment/.vs
/MicrogrooveSeleniumAssignment/bin/Debug/net6.0
/MicrogrooveSeleniumAssignment/obj
/MicrogrooveSeleniumAssignment/Properties
